-if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2
      =link_to("#{restaurant.name}", restaurant_path(restaurant), method: :get)
    %h3.cuisine #{restaurant.cuisine}
    %h3.average_rating Average rating: #{star_rating(restaurant.average_rating.to_i)}
    =link_to("Edit #{restaurant.name}", edit_restaurant_path(restaurant))
    =link_to("Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete)
    =link_to("Review #{restaurant.name}", new_restaurant_review_path(restaurant))
    -if restaurant.reviews.any?
      - restaurant.reviews.each do |review|
        %p.review #{review.comments}
        %p.rating #{review.rating}
        %p.time_since #{time_ago_in_words(review.created_at)}
        =link_to "Endorse", review_endorsements_path(review), class: "endorsements_link"
        %p.endorsements #{pluralize(review.endorsements.count, 'endorsement')}
        =link_to("Edit review", edit_restaurant_review_path(restaurant,review))
    - else
      %p No reviews yet
-else
  %h1 No restaurants yet

=link_to 'Add a restaurant', new_restaurant_path
